## PHYTON PARA CIÊNCIA DE DADOS 

INSTITUTO FEDERAL DE MINAS GERAIS - CAMPUS OURO PRETO

INTELIGÊNCIA ARTIFICIAL

ARTHUR CARDOSO FIGUEIREDO

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

CARREGAMENTO DOS DADOS

In [5]:
pip install kaggle

Collecting kaggleNote: you may need to restart the kernel to use updated packages.

  Downloading kaggle-1.5.15.tar.gz (77 kB)
                                              0.0/77.9 kB ? eta -:--:--
     ---------------------------------------- 77.9/77.9 kB 2.1 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\laop_\appdata\roaming\python\python311\site-packages (from kaggle) (1.16.0)
Collecting certifi (from kaggle)
  Downloading certifi-2023.5.7-py3-none-any.whl (156 kB)
                                              0.0/157.0 kB ? eta -:--:--
     -------------------------------------- 157.0/157.0 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil in c:\users\laop_\appdata\roaming\python\python311\site-packages (from kaggle) (2.8.2)
Collecting requests (from kaggle)
  Downloading requests-2.31.0-py3-none-any.whl (62 kB)
                                              0.0/62.6 kB ? eta -:--:--
     ---------------------------------------- 62.6/62.6 kB 3.3 MB/s eta 0:00:00
Collecting tqdm (from kaggle)
  Downloading tqdm-4.65.0-py3-none-any.whl (77 kB)
                                              0.0/77.1 kB ? eta -:--:--
     ---------------------------------------- 77.1/77.1 kB 4.2 MB/s eta 0:00:00
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.1-py2.py3-none-any.whl (9.7 kB)
Collecting urllib3 (from kaggle)
  Downloading urllib3-2.0.3-py3-none-any.whl (123 kB)
                                              0.0/123.6 kB ? eta -:--:--
     -------------------------------------- 123.6/123.6 kB 7.1 MB/s eta 0:00:00
Collecting bleach (from kaggle)
  Downloading bleach-6.0.0-py3-none-any.whl (162 kB)
                                              0.0/162.5 kB ? eta -:--:--
     ------------------------------------- 162.5/162.5 kB 10.2 MB/s eta 0:00:00
Collecting webencodings (from bleach->kaggle)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
                                              0.0/78.2 kB ? eta -:--:--
     ---------------------------------------- 78.2/78.2 kB 4.2 MB/s eta 0:00:00
Collecting charset-normalizer<4,>=2 (from requests->kaggle)
  Downloading charset_normalizer-3.1.0-cp311-cp311-win_amd64.whl (96 kB)
                                              0.0/96.7 kB ? eta -:--:--
     ---------------------------------------- 96.7/96.7 kB 5.8 MB/s eta 0:00:00
Collecting idna<4,>=2.5 (from requests->kaggle)
  Downloading idna-3.4-py3-none-any.whl (61 kB)
                                              0.0/61.5 kB ? eta -:--:--
     ---------------------------------------- 61.5/61.5 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\laop_\appdata\roaming\python\python311\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (pyproject.toml): started
  Building wheel for kaggle (pyproject.toml): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.5.15-py3-none-any.whl size=99616 sha256=52cee322ce8d1793fbe8eecd0a42631bacd7bdc7ef7659906004b55c87fcbaf1
  Stored in directory: c:\users\laop_\appdata\local\pip\cache\wheels\fc\d0\b9\e25b168e81502b15b081bec5459179e701653ced72d2abf215
Successfully built kaggle
Installing collected packages: webencodings, text-unidecode, urllib3, tqdm, python-slugify, idna, charset-normalizer, certifi, bleach, requests, kaggle
Successfully installed bleach-6.0.0 certifi-2023.5.7 charset-normalizer-3.1.0 idna-3.4 kaggle-1.5.15 python-slugify-8.0.1 requests-2.31.0 text-unidecode-1.3 tqdm-4.65.0 urllib3-2.0.3 webencodings-0.5.1

In [12]:
heartdata = pd.read_csv('C:\dataset_heart.csv')

In [13]:
heartdata

,age,sex,chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,resting electrocardiographic results,max heart rate,exercise induced angina,oldpeak,ST segment,major vessels,thal,heart disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,2
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,1
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,2
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,1
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,52,1,3,172,199,1,0,162,0,0.5,1,0,7,1
266,44,1,2,120,263,0,0,173,0,0.0,1,0,7,1
267,56,0,2,140,294,0,2,153,0,1.3,2,0,3,1
268,57,1,4,140,192,0,0,148,0,0.4,2,0,6,1
269,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2

Vendo algumas informações com .info() e .describe()

In [16]:
heartdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 14 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   270 non-null    int64
 1   sex                                   270 non-null    int64
 2   chest pain type                       270 non-null    int64
 3   resting blood pressure                270 non-null    int64
 4   serum cholestoral                     270 non-null    int64
 5   fasting blood sugar                   270 non-null    int64
 6   resting electrocardiographic results  270 non-null    int64
 7   max heart rate                        270 non-null    int64
 8   exercise induced angina               270 non-null    int64
 9   oldpeak                               270 non-null    float64
 10  ST segment                            270 non-null    int64
 11  major vessels                         270 non-null    int64
 12  thal                                  270 non-null    int64
 13  heart disease                         270 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 29.7 KB

In [17]:
heartdata.describe()

,age,sex,chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,resting electrocardiographic results,max heart rate,exercise induced angina,oldpeak,ST segment,major vessels,thal,heart disease
count,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.000000,270.00000,270.000000,270.000000,270.000000,270.000000
mean,54.433333,0.677778,3.174074,131.344444,249.659259,0.148148,1.022222,149.677778,0.329630,1.05000,1.585185,0.670370,4.696296,1.444444
std,9.109067,0.468195,0.950090,17.861608,51.686237,0.355906,0.997891,23.165717,0.470952,1.14521,0.614390,0.943896,1.940659,0.497827
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.00000,1.000000,0.000000,3.000000,1.000000
25%,48.000000,0.000000,3.000000,120.000000,213.000000,0.000000,0.000000,133.000000,0.000000,0.00000,1.000000,0.000000,3.000000,1.000000
50%,55.000000,1.000000,3.000000,130.000000,245.000000,0.000000,2.000000,153.500000,0.000000,0.80000,2.000000,0.000000,3.000000,1.000000
75%,61.000000,1.000000,4.000000,140.000000,280.000000,0.000000,2.000000,166.000000,1.000000,1.60000,2.000000,1.000000,7.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.20000,3.000000,3.000000,7.000000,2.000000

In [14]:
diabetsdata = pd.read_csv('C:\diabetes_prediction_dataset.csv')

In [15]:
diabetsdata

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [18]:
diabetsdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [19]:
diabetsdata.describe()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,41.885856,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,22.516840,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,0.080000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,24.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,43.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,60.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,80.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

Fusão das bases de dados

In [27]:
merged_df = pd.merge(heartdata,diabetsdata,left_on='serum cholestoral',right_on='blood_glucose_level')

In [28]:
merged_df

,age_x,sex,chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,resting electrocardiographic results,max heart rate,exercise induced angina,oldpeak,...,heart disease,gender,age_y,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,50,1,4,144,200,0,2,126,1,0.9,...,2,Female,44.0,0,0,never,19.31,6.5,200,1
1,50,1,4,144,200,0,2,126,1,0.9,...,2,Female,67.0,0,0,never,25.69,5.8,200,0
2,50,1,4,144,200,0,2,126,1,0.9,...,2,Male,15.0,0,0,never,30.36,6.1,200,0
3,50,1,4,144,200,0,2,126,1,0.9,...,2,Male,67.0,0,1,not current,27.32,6.5,200,1
4,50,1,4,144,200,0,2,126,1,0.9,...,2,Female,53.0,0,0,No Info,31.75,4.0,200,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27464,44,1,2,120,220,0,0,170,0,0.0,...,1,Female,49.0,0,0,never,27.32,8.2,220,1
27465,44,1,2,120,220,0,0,170,0,0.0,...,1,Male,64.0,0,0,not current,27.32,7.0,220,1
27466,44,1,2,120,220,0,0,170,0,0.0,...,1,Male,56.0,1,1,No Info,31.40,7.0,220,1
27467,44,1,2,120,220,0,0,170,0,0.0,...,1,Male,80.0,0,1,never,25.76,9.0,220,1
27468,44,1,2,120,220,0,0,170,0,0.0,...,1,Male,67.0,0,0,current,27.32,6.8,220,1

In [29]:
merged_df.columns

Index(['age_x', 'sex ', 'chest pain type', 'resting blood pressure',
       'serum cholestoral', 'fasting blood sugar',
       'resting electrocardiographic results', 'max heart rate',
       'exercise induced angina', 'oldpeak', 'ST segment', 'major vessels',
       'thal', 'heart disease', 'gender', 'age_y', 'hypertension',
       'heart_disease', 'smoking_history', 'bmi', 'HbA1c_level',
       'blood_glucose_level', 'diabetes'],
      dtype='object')

Observação:Devido a relevância dos itens das colunas, resolvi não retirar as colunas, pois cada informação será relevante para o estudo.

In [30]:
nan_proportion = merged_df.isna().mean()
nan_proportion

age_x                                   0.0
sex                                     0.0
chest pain type                         0.0
resting blood pressure                  0.0
serum cholestoral                       0.0
fasting blood sugar                     0.0
resting electrocardiographic results    0.0
max heart rate                          0.0
exercise induced angina                 0.0
oldpeak                                 0.0
ST segment                              0.0
major vessels                           0.0
thal                                    0.0
heart disease                           0.0
gender                                  0.0
age_y                                   0.0
hypertension                            0.0
heart_disease                           0.0
smoking_history                         0.0
bmi                                     0.0
HbA1c_level                             0.0
blood_glucose_level                     0.0
diabetes                                0.0
dtype: float64

In [ ]:
Observação:Podemos observar que não há valores faltantes nos nossos dados